{% extends 'base_generic.html' %}


{% load get_kv_tag %}
{% block content%}
<div style="text-align:center;">
    <h1>股票資訊網</h1>
</div>
<div>
    
    <h4>最新新聞：</h4>
    {% if latest_news %}
        <ul>
        {% for news in latest_news %}
        
            <li>{{news.date_time}}&nbsp&nbsp&nbsp<a href="{% url 'news-content' news.id%}">{{news.title}}</a></li>
        {% endfor %}
        </ul>
        <a href="{% url 'search-news'%}?q=">查看全部</a>
    {% endif %}
</div>
<br><br>
<div>
    <table>
        <th colspan="2"><h4>隨便看看：</h4></th>
        {% if price_list %}
            {% for stock in price_list %}
                <tr>
                    <td style="; width:100px;height:30px"><a href="{% url 'stock-detail' stock.stock.code %}">{{stock.stock.name}}</a></td>
                    <td style="width:100px;">{{stock.stock.code}}</td>
                    <td style="width:100px">{{stock.open}}</td>
                    <td style="width:100px">{{stock.high}}</td>
                    <td style="width:100px">{{stock.low}}</td>
                    <td style="width:100px">{{stock.close}}</td>
                </tr>
            {% endfor%}
            <td><br><a href="{% url 'sector-list'%}">查看全部</a></td>
        {% else %}
            <tr><td>目前暫無股市資料</td></tr>
        {% endif %}
    </table>
</div>

<br><br>


{% endblock %}