{% extends 'base_generic.html' %}
{% block title %}我的主頁{% endblock %}

{% block content %}
{% load get_kv_tag %}
{% load mathfilters %}
<p></p>
<h3>我的主頁</h3><br>
<table class="default_table">
        <tr>
            <table>
                <th colspan="2"><h4>我的股票列表</h4></th>
                <tr>
                    <td style="; width:100px;height:30px">公司名稱</td>
                    <td style="width:100px;">股票代號</td>
                        
                        <td style="width:100px">開盤價</td>
                        <td style="width:100px">現價</td>
                        <td style="width:100px">漲跌幅</td>
                </tr>
                {{stock_list}}
                {% if stock_list %}
                    {% for stock,v in stock_list.items %}
                    
                        <tr>
                            <td style="; width:100px;height:30px"><a href="{% url 'stock-detail' stock.code %}">{{stock.name}}</a></td>
                            <td style="width:100px;">{{stock.code}}</td>
                                {% for i in v %}
                                <td style="width:100px">{% if i%}{{i}}{% else %}-{% endif %}</td>
                                {% endfor %}
                                
                        </tr>
                    {% endfor %}
                    <td><br><a href="{% url 'account:sublist'%}">查看全部</a></td>
                {% else %}
                    <tr><td>目前列表為空，<a href="{% url 'search-stock'%}">新增列表？</a></td></tr>
                {% endif %}
            </table>
        </tr>
</table>      
<hr>
<br>
<table>
    <th><h4>相關新聞 </h4></th>
    {% if news_list %}
        {% for news in news_list %}
        <tr>
            <td style="width:250px;height:30px">{{news.date_time}}</td>
            <td style="height:30px"><a href="{% url 'news-content' news.id %}">{{news.title}}</a></td>
        </tr>
        
        {% endfor %}
        <tr>
            <!--<td><br><a>查看全部</a></td>-->
        </tr>
    {% endif %}
</table>




{% endblock%}